@import 'bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300&family=Roboto&display=swap');

// HEADER
header {
    background-color: #faf2e9;
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    top: 0;
    font-family: 'Montserrat';
}

.nav-bar {
    display: flex;
    align-items: flex-end;
    padding-bottom: 10px;
    margin: 0 auto;
    
}

.nav-link{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding-right: 50px;
    color: #062424;

    

}
.aptlogo{
    width: 150px;
    margin-left: 20px;
    
}

// HOME

.apartments {
    width: 100vw;
    margin-top: 200px;
    opacity: 0.2;
}

// Footer
footer {
    background-color: #faf2e9;
    font-family: 'Montserrat';
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    bottom: 0;

 }

 footer .nav-bar{
     padding-top: 12px;
     padding-bottom: 2px;
 }

